/* line 1, ../../src/scss/components/_vars.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 5, ../../src/scss/styles.scss */
html {
  height: 100%; }

/* line 9, ../../src/scss/styles.scss */
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: SlateGray; }

/* line 18, ../../src/scss/styles.scss */
.page-header {
  position: fixed;
  height: 80px;
  z-index: 100;
  width: 100%;
  top: 0; }
  /* line 24, ../../src/scss/styles.scss */
  .page-header .logo {
    position: absolute;
    top: 20px;
    left: 20px; }
    /* line 28, ../../src/scss/styles.scss */
    .page-header .logo h1 {
      margin: 0; }
  /* line 33, ../../src/scss/styles.scss */
  .page-header nav {
    display: block;
    background: #333333;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 320px;
    z-index: 10;
    padding: 60px 0 0;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
    /* line 46, ../../src/scss/styles.scss */
    .page-header nav a {
      display: block;
      margin: 0;
      padding: 10px 15px;
      color: #3398CC;
      text-transform: uppercase;
      -moz-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease; }
      /* line 53, ../../src/scss/styles.scss */
      .page-header nav a:hover {
        color: #FFF;
        background: #3398CC; }
      /* line 57, ../../src/scss/styles.scss */
      .page-header nav a.active {
        color: #FFF;
        background: #006A1B; }
    /* line 62, ../../src/scss/styles.scss */
    .menu-open .page-header nav {
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -webkit-transform: translateX(0);
      transform: translateX(0); }

/* line 68, ../../src/scss/styles.scss */
.sb-toggle {
  width: 48px;
  cursor: pointer;
  background: #CCC;
  padding: 11px 9px 8px 14px;
  position: fixed;
  top: 15px;
  right: 15px;
  border: 1px solid #CCC;
  -moz-box-shadow: 0 0 0 1px white inset;
  -webkit-box-shadow: 0 0 0 1px white inset;
  box-shadow: 0 0 0 1px white inset;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  z-index: 1000; }
  /* line 80, ../../src/scss/styles.scss */
  .sb-toggle .navicon-line {
    height: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 3px;
    background: #555555;
    position: relative;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease; }
    /* line 87, ../../src/scss/styles.scss */
    .sb-toggle .navicon-line:before {
      position: absolute;
      left: -6px;
      background: inherit;
      content: ' ';
      width: 4px;
      height: 4px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
    /* line 96, ../../src/scss/styles.scss */
    .sb-toggle .navicon-line:nth-child(1) {
      width: 80%; }
    /* line 99, ../../src/scss/styles.scss */
    .sb-toggle .navicon-line:nth-child(2) {
      width: 90%; }
    /* line 102, ../../src/scss/styles.scss */
    .sb-toggle .navicon-line:nth-child(3) {
      width: 70%; }
  /* line 106, ../../src/scss/styles.scss */
  .sb-toggle:hover .navicon-line {
    width: 100%;
    background: #333333; }
  /* line 110, ../../src/scss/styles.scss */
  .menu-open .sb-toggle .navicon-line {
    width: 100%;
    background: #eeeeee; }

/* line 116, ../../src/scss/styles.scss */
section {
  background: #333333;
  position: relative;
  width: 100%;
  overflow: hidden; }
  /* line 125, ../../src/scss/styles.scss */
  section header {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2; }
    /* line 134, ../../src/scss/styles.scss */
    section header h2 {
      margin: 0; }

/* line 140, ../../src/scss/styles.scss */
.img-responsive {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  /* line 146, ../../src/scss/styles.scss */
  .img-responsive > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* line 155, ../../src/scss/styles.scss */
#hero {
  background: #777777; }

/* line 159, ../../src/scss/styles.scss */
a:link {
  color: #3398CC;
  text-decoration: none; }
  /* line 162, ../../src/scss/styles.scss */
  a:link:hover {
    color: #006A1B; }

/* line 166, ../../src/scss/styles.scss */
main {
  -moz-perspective: 2000px;
  -webkit-perspective: 2000;
  -o-perspective: 2000;
  -ms-perspective: 2000; }

/* line 172, ../../src/scss/styles.scss */
.content {
  background: #fff;
  padding: 140px 0 100px 0;
  position: relative;
  transition: all .5s;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  opacity: 0; }

/* line 184, ../../src/scss/styles.scss */
.content.activate {
  opacity: 1;
  -webkit-transform: rotateX(0deg) scale(1);
  transform: rotateX(0deg) scale(1);
  transition: all .5s; }
