@import "compass";

@import "components/vars";

body {
	padding:0;
	margin:0;
	height:100%;
}

.logo {

	h1 { 
		margin:0; 
	}
}
header {
	height: 100px;
	
	h1 {
		color:$primary-orange;
		margin:0;
	}
}
a:link {
	color:$primary-blue;
	text-decoration: none;
}
